<mat-toolbar color="primary">
    <p class="toolbar-option"><mat-icon>library_books</mat-icon></p>
    <p class="toolbar-option"><a class="toolbar-anchor" routerLink="library">Library</a></p>
    <p class="toolbar-option"><a class="toolbar-anchor" routerLink="books">Books</a></p>
    <p class="toolbar-option"><a class="toolbar-anchor" routerLink="clients">Clients</a></p>
    <p class="toolbar-option"><a class="toolbar-anchor" href="https://www.linkedin.com/in/jakub-klonowski-1176b720a/" target="_blank">About me<mat-icon class="center-icon">open_in_new</mat-icon></a></p>
</mat-toolbar>
<router-outlet></router-outlet>